<div class="container  justify-content-center align-items-center">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-md-8">
      <form class="form-group-row" #myFormulary="ngForm" (ngSubmit)="login()">
     
          <h2 class="fw-bold text-center py-5">LOGIN</h2>
     
        <div class="mb-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email"  ngModel>
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="text-danger">
        
          <div *ngIf="email.errors?.['required']">
            Email is required.
          </div>
        </div>
    </div> 
    <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" ngModel>
    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched)"
    class="text-danger"></div>

  <div *ngIf="password.errors?.['required']">
    Password is required.
  </div>

  <div class="d-grid">
        <button type="submit" (click)="login()" class="btn btn-primary">Sign in</button>
      </div>
    <div class="my-3">
        <span>Don't have an account? <a href="#">Sign up</a></span>
    </div>
  </form>
</div>
</div>
</div>
